<header><h1>Edit Professor <%= @professor.name %> Info</h1></header>
<main>
    <form action="/professors/<%= @professor.slug %>" method="POST">
        <input type='hidden' name='_method' value='PATCH'>
        <h2>The Professor Info</h2>
        <input type="hidden" name='professor[department_id]' value='<%= session[:dep_id]%>'>
        <p>Name: <input type="text" name="professor[name]" value="<%= @professor.name %>" required></p>
       
        <% if !@courses.empty? %>
            <h2>Choose Course/s</h2>
            <% @courses.each do |course| %>
                <input type="checkbox" name="professor[course_ids][]" value="<%= course.id %>" <%= 'checked' if @professor.courses.include?(course)%>><%= course.name%>
            <% end %><br><br>
        <% end %>
        <input type="submit" value="Edit">
        <button><a href="/professors/<%=@professor.slug%>">Cancel</a></button>
    </form>
</main>