<header><h1>Course <%= @course.name%></h1></header>
<main>
    <section>
        <h2>Professor: <% if @course.professor.nil? %>
                Unsigned</h2>
            <% else %>
                <a href="/professors/<%= @course.professor.slug %>"><%= @course.professor.name %> </a></h2>
        <% end %>
        <h2>Students Enrolled</h2>  
        <% if @course.students.empty? %>
            <p>No Student Signed</p>
        <% else %>
            <ul>
                <% @course.students.each do |student|%>
                    <li><a href="/students/<%= student.slug %>"><%= student.name %></a></li>
                <% end %>
            </ul>
        <% end %>
        <form action="/courses/<%=@course.slug%>" method="post">
            <button><a href="/courses/<%=@course.slug%>/edit">Edit Course Info</a></button>
            <input type="hidden" name="_method" value='DELETE'>
            <input type="submit" name="" value="Delete Course Info">
            <button><a href="/courses">Course List</a></button>
        </form>
    </section>
</main>